body {
    padding: 0px;
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}

table {
    border-collapse: collapse;
}

td {
    margin: 0px;
    padding: 10px;
    vertical-align: top;
}